@font-face {
	font-family: 'Poppins';
	src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: 'Poppins Italic';
	src: url(../assets/fonts/Poppins-Italic.ttf);
}
@font-face {
	font-family: 'Poppins Bold';
	src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
	font-family: 'Poppins BoldItalic';
	src: url(../assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
	font-family: 'Poppins ExtraBold';
	src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
	font-family: 'Poppins ExtraBoldItalic';
	src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, div#root {
	width: 100%;
	min-height: 100vh;
	background-color: hsl(0, 0%, 94%);
	display: flex;
	align-items: center;
	justify-content: center;
}
